<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>features</title>
  <link rel="stylesheet" href="features.css">

</head>
<!-- partial:index.partial.html -->
<body>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                    <h3>Tracking</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Have trouble keeping track of your daily tasks? With this app you will not only be able to track your task, but we also want you to be able to track any selfcare activities you've done before your task. Even if you didn't accomplish your goals we still want you to acknowledge the invisable work that is also worth uplifting. </p>
                        
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                    <h3>Focus</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Research indicates that music strengthens areas of the brain that, in people with ADHD, are weak. With traditional timers there often times is little support for neurodiverse people to help achieve a focus state. With this app we are using scientifcally-backed music to loop through you timer amount and help you unlock an optimal mental state, perfect for any task at hand.  </p>
                        
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                    <h3>Confidence</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Those with ADHD are often great at making “hot decisions” at urgent moments, but we are not as good at making “cold decisions,” which require us to make up our minds after a lot of thought, like eating.
                    Our recipes feature allow users to store all of their favorite recipe -- and when they are ready to eat, they receive a random recipe selection, specifically targeting breakfast, lunch, or dinner depending on the time they request a random recipe. 
                    </p>
                        
                </div>
            </div>
        </div>
    </div>
</body>
<!-- partial -->
  

</html>
