<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/dceedc8de0.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <div class="inv-menu-circle">      
  
        <input href="#" id="ckd-menu-circle" name="ckd-menu-circle" type="checkbox">
        <label class="inv-buttom-menu" for="ckd-menu-circle">
            <div class="dash dash1"></div>
            <div class="dash dash2"></div>
            <div class="dash dash3"></div>    
        </label>
        
                                                         
        <div class="inv-menu-circle-content">        
          <div class="inv-menu-circle-item inv-menu-circle-item1"></div>
          <a href="/login"><div href="/login" class="inv-menu-circle-item inv-menu-circle-item2">
            <i class="fa-solid fa-right-to-bracket" ></i>
          </div></a>
          <div class="inv-menu-circle-item inv-menu-circle-item3"></div>
          <a href=""><div class="inv-menu-circle-item inv-menu-circle-item4">
            <i class="fa-solid fa-book-open-reader"></i>
          </div></a>
          <div class="inv-menu-circle-item inv-menu-circle-item5"></div>
          <a href="mailto:joshua.malloy1991@gmail.com"><div class="inv-menu-circle-item inv-menu-circle-item6">
            <i class="fa-regular fa-envelope"></i>
          </div></a>
          <div class="inv-menu-circle-item inv-menu-circle-item7"></div>
        </div>
      </div>
    <div class="ternary-system">
        <div class="sun primary"></div>
        <div class="sun secondary"></div>
        <div class="sun ternary"></div>
      </div>
      <div class="sand">
      <div class="pendulums">
        <div class="pendulum">
          <div class="bar"></div>
          <div class="motion">
            <div class="string"></div>
            <div class="weight"></div>
          </div>
        </div>
        <div class="pendulum shadow">
          <div class="bar"></div>
          <div class="motion">
            <div class="string"></div>
            <div class="weight"></div>
          </div>
        </div>
      </div></div>
      <div class="pyramid"></div>
      <div class="text">
        <h1 class="title">My <strong>ADHD Needs Some</strong><em>Help</em></h1>
        <p> An App By Joshua Malloy</p>
       
      </div>

</body>
</html>