<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose For Me</title>
    <link rel="stylesheet" href="intro.css" />
  </head>
  <body>

    <style>
      @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
  </style>
  
  <body>
    <div class=container>
    <h1>Welcome</h1>
      <p><%=email %>,</p>
      <p>This app was built with you in mind. If you have any feedback, please reach out. Otherwise, I hope you find value in yourself through these tools.</p>
      <p>Joshua</p>
      </div>
  <div class="navigation">
    <button id="sized" class="menu">
      <span></span>        
    </button>
      <div id="myModal" class="modal">
      <!-- Modal content -->
        <div class="modal-content animated zoomIn">
        <div class="modal-header">
           <span class="close">×</span>
       </div>
          
      <div class="modal-body nav">
         <ul>
           <li><a href="/task">Start Tasks</a></li>
           <li><a href="/dashboard">My Dashboard</a></li>
           <li><a href="/music">Timer</a></li>
           <li><a href="/recipe">My Recipes</a></li>
          </ul>
        </div>
        <div class="modal-footer">
          <hr>
          <p>
          <strong>Joshua Malloy</strong>
          <br>joshuamalloydev@gmail.com<br>
          <b>Pittsburgh, PA</b>
          </p>
        </div>
      </div>
    </div>
  
  </body>
    <script src="intro.js"></script>
  </body>
</html>
