
body {
  background-color: #468966;
}

#regForm {
  margin: auto;
  margin: 80px auto;
  font-family: Raleway;
  padding: 40px;
  width: 50%;
  font-family: monospace;
  background-color: #529c76;
  border: 4px solid #fff0a5;
  border-radius: 15px;
  color: #fff0a5;
  font-size: 18px;
  box-shadow: 2px 3px 18px 11px rgba(0, 0, 0, 0.178);
}

h1 {
  text-align: center;
  font-size: 3em;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input {
  padding: 10px;
  font-size: 18px;
  font-family: monospace;
  border: 1px solid #fff0a5;
  border-radius: 5px;
}

.full{
  width:97%;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #fff0a5;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: monospace;
  cursor: pointer;
  font-weight: 900;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #d1bf64;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff0a5;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #e9d676;
}
#selfCare {
  background-color: #faeca6;
  padding: 10px;
  margin-bottom: 5%;
  border-radius: 5px;
  color: #529c76;
  font-weight: 900;
}

#selfCare input {
  border: 1px solid black;
}

.check {
  width: 4%;
}

select {
  padding: 5px;
  border-radius: 5px;
  margin: 18px 0 0;
  background-color: #529c76;
  color: #faeca6;
  font-family: monospace;
  font-style: italic;
}

.selfCareInput {
  width: 95%;
}